<!DOCTYPE html>
<html lang="en">
  <head> </head>
  <body>
    <div class="row">
      <div class="container border card_info">
        <div class="row">
          <div class="col-md-4 mt-3 mb-3">
            <div class="card">
              <div class="card-body" id="order">
                <h5 class="card-title">Total Customer</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a id="total-customer" href="#" class="btn btn-info">Detail</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-3 mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Total Pendapatan</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a id="total-pendapatan" href="#" class="btn btn-warning">Detail</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mt-3 mb-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Total Penjualan</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-success">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      $("#total-customer").on("click", function () {
        $("#inc-content").load("../../Beranda/total-customer/index.html");
        $("#title-dashboard").replaceWith("<h4 id='title-dashboard'>Total Customer</h4>");
      });
      $("#total-pendapatan").on("click", function () {
        $("#inc-content").load("../../Beranda/total-pendapatan/index.html");
        $("#title-dashboard").replaceWith("<h4 id='title-dashboard'>Total Pedapatan</h4>");
      });
    </script>
  </body>
</html>
