<html lang="en">
  <head> </head>
  <body>
    <div class="col">
      <table id="#table-pendapatan" class="table table-bordered border-info">
        <thead class="table-info">
          <tr>
            <th scope="col">No</th>
            <th scope="col">Nama</th>
            <th scope="col">Jenis Customer</th>
            <th scope="col">Detail</th>
          </tr>
        </thead>
        <tbody id="isi-tabel-cust">
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
        </tbody>
      </table>
    </div>
    <script>
      $("#tabel-penjualan").ready(function () {});
    </script>
  </body>
</html>
